h2 {
    text-align: center;
    height: 60px;
    font-size: 1.3rem;
}

.logoCryp {
    width: 10%;
}

.butCarrito {
    width: 20%;
    margin: auto;
    display: flex;

}

.boton-agregar {
    margin: auto;
    width: 100%;
    display: flex;
}

.boton-agregar p {
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 2%;
}

main {
    background-color: antiquewhite;
    padding-top: 40px;
}

.formulario {
    margin-top: 20px;
    text-align: center;
    height: 300px;
    width: 30%;
    box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);
}

.formulario:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

.cantidad {
    margin-top: 10px;
}

#resultado {
    background-color: rgb(250, 230, 230) !important;
    border-radius: 20px;
    margin-top: 1%;
}

#cantidad {
    background-color: rgb(250, 230, 230) !important;
    border-radius: 20px;
}

#convertir {
    background-color: rgb(110, 110, 206) !important;
    border-radius: 20px;
    margin-top: 1%;
}

#bitcoin, #ethereum, #dai {
    margin: 10px;
}

main {
    padding-bottom: 10px;
}

footer {
    margin-top: -75px;
}

/* login!!! */

.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .producto {
        max-width: 20%;
        padding: 10px;
        margin: 10px;
        margin-bottom: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    .precioProducto {
        font-weight: 700;}

        
        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    margin-bottom: 10px;
}

#navbar {
    width: 100% !important;
}


h1 {
    color: rgb(225, 65, 65);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
#boton-carrito {
    border: none;
    color: rgb(225, 65, 65);
    font-size: 40px;
    border-radius: 20%;
    padding: 10px 20px;
    transition: all .3s;
    width: 15%;
    background-color: rgb(129, 129, 129);
    margin-right: 100px;
}
#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(225, 65, 65);
}
#boton-carrito:focus {
    outline: none;
}

.imagenCarrito{
    width: 45%;
    margin-right: 20px;
}

.navbar-brand {
    font-size: 3.5rem !important;
}

#navbarSupportedContent {
    margin-top: 10px;
    font-size: 2rem;
}



#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 20%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);
    
}

.producto:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }
  

.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color: rgb(86, 85, 85);
    color: rgb(255, 1, 1);
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    border-radius: 8%;
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 110%;
    margin-left: -300px !important;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 5px solid royalblue;
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.trashico {
    width: 30%;
    margin-bottom: 10px;
    margin-right: 50px;
}