h1 {
    text-align: center;
    height: 60px;
}

main {
    background-color: antiquewhite;
    padding-top: 40px;
}

.formulario {
    margin-top: 20px;
    text-align: center;
    height: 300px;
}

.cantidad {
    margin-top: 10px;
}

#cantidad {
    background-color: rgb(250, 230, 230) !important;
    border-radius: 20px;
}

#convertir {
    background-color: rgb(110, 110, 206) !important;
    border-radius: 20px;
}

#bitcoin, #ethereum, #dai {
    margin: 10px;
}

footer {
    margin-top: -100px;
}

/* login!!! */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }